<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="storageaccount" value="DefaultEndpointsProtocol=https;AccountName=storageaccountname;AccountKey=deadbeeddeadbeedcoffeeiscooldjsaljdksajdlkahdkjHKJHKJhkjhdjkhdkjHJHKJHKJHKJhhkjhjjjhhh=="/>
  </appSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
